@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.navbar-image {
    height: 8vh;
}

/* Home Section  */
#home {
    background-image: url('https://res.cloudinary.com/dsdk5wzpk/image/upload/v1764624034/foodmunch-banner-bg_rjzdg9.png');
    height: 100vh;
    background-size: cover;
}

#home h1 {
    color: white;
    font-size: 45px;
    font-family: "Bree Serif", serif;
}

#home p {
    color: white;
    font-size: 24px;
    font-family: "Bree Serif", serif;
}

.btn {
    width: 170px;
    height: 50px;

}

/* Services section  */

#services .box {
    border: 2px solid brown;
    PADDING: 34PX;
    MARGIN: 3PX 10PX;
    BORDER-RADIUS: 28PX;
    BACKGROUND: #F2F2F2;
    margin-bottom: 20px;
}

#services .box img {
    height: 110px;
    margin: auto;
    display: block;
}

#services .box p {
    font-family: "Bree Serif", serif;
}

/* Client Section  */

#client-section {
    position: relative;
}

#client-section::before {
    content: "";
    position: absolute;
    background: url('https://res.cloudinary.com/dsdk5wzpk/image/upload/v1765443554/bg6_eebe7m.jpg') no-repeat center center/cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
}

#clients {
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-item {
    padding: 34px;
}

#clients img {
    height: 45px;
}

/* Contact Section  */

#contact {
    position: relative;
}

#contact::before {
    content: "";
    position: absolute;
    background: url('https://res.cloudinary.com/dsdk5wzpk/image/upload/v1765443553/contact_g0imji.jpg') no-repeat center center/cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
}

#contact-box {
    align-items: center;
    padding: 34px;
}

#contact-box input,
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 9px;
    font-size: 1.1rem;
}

#contact-box form {
    width: 100%;
}

#contact-box label {
    font-size: 1.3rem;
    font-family: "Bree Serif", serif;

}

footer {
    background-color: black;
    color: white;
    padding: 9px 20px;
}

/* Utility Classes */

.h-primary {
    font-family: "Bree Serif", serif;
    font-size: 2.7rem;
    padding: 12px;
}

.h-secondary {
    font-family: "Bree Serif", serif;
    font-size: 1.5rem;
    padding: 12px;
}

.btn {
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}

.center {
    text-align: center;
}